.btn-primary {
    width: 15mm;
    height: 20mm;
    background-color: #000501;
    border: #000501 solid 1px;
}

.btn-primary:hover {
    transform: scale(1.25);
    background-color: #000501;
    border: #000501 solid 1px;
}

.btn-primary:active {
    transform: scale(1.25);
    background-color: #000501;
    border: #000501 solid 1px;
}

.btn-primary:visited {
    background-color: #000501;
    border: #000501 solid 1px;
}

.container {
    margin: 1mm;
    padding: 1mm;
}