.scorecard-container {
    padding: 2mm;
    background-color: #AF1B3F;
    padding-bottom: 20mm;
}

.score-container {
    float: left;
    color: #FBF9FF;
}

.submit-container {
    float: right;
}

.btn-outline-success {
    background-color: #04724D;
    color: #FBF9FF;
}