.utility-container {
    background-color: #5EF38C;
    padding: 2mm;
    border-radius: 15px 15px 0px 0px;
}

.hint-container {
    margin: 2mm;
}

.soln-container {
    margin: 2mm;
}

.btn-secondary {
    background-color: #BFB1C1;
    color: #700548;
}

.btn-container {
    float: right;
}