.word-container {
    background-color: #AF1B3F;
    /*align-items: center;*/
    /*float: center;*/
    width: auto;
    padding-bottom: 5mm;

    display: flex;
    align-items: center;
    justify-content: center;
}

.positioning-container {
    display: flex;
    align-items: center;
    justify-content: center;
}